@import "tailwindcss";

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Basic body styling */
body {
  @apply bg-white text-black;
}

/* ---------------- SLICK SLIDER CUSTOM STYLES ---------------- */

#slideshow .slick-prev:before,
#slideshow .slick-next:before {
  opacity: 0.75;
  color: #0f24e3;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
}
